extends layout

block content
  main
    h2 내담자 
    script.
      window.APP = { name: !{JSON.stringify(name)}, room: !{JSON.stringify(room)}, role: "client" };

    section.panel
      h3 본 채팅
      #messages.messages-box
      form(onSubmit="return false;" class="row")
        input#message(type="text" placeholder="메시지를 입력하세요")
        button#send(type="button") 전송

    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
