doctype html
html(lang="ko" color-mode="user")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title=title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mvp.css/1.6.2/mvp.min.css")
  body
    block content